# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.tmp
dist/
build/

# Virtualenvs
venv/

# IDE/OS
.vscode/
.idea/
.DS_Store


# Data / Large
schrott/
ohsome_log/

# Jupyter (falls vorhanden)
.ipynb_checkpoints/


*.png
!sankey.png

config.json